<ul>
<?php foreach($block->browse() as $e):?>
       <li>
           <p><?php echo $e->getTitle();?> </p>
           <?php echo $e->getShortDescription();?>
           <p><a href="<?php echo $block->getUrlKey('id/'.$e->getId());?>">Read More</a></p>
       </li>
<?php endforeach; ?>
</ul>
